{{ define "view" }}
<section>
  <a href="/">back to home</a>

  <article>
    <header>
      <h1>{{ .Category.Title }}</h1>
      <p>{{ .Category.Description }}</p>
    </header>
    <div>
      <ul>
        {{ $category := slugify .Category.Title }}
        <!-- nowrap -->
        {{ range .Category.Entries }}
        <li>
          <article>
            <header>
              <h1 class="heading">
                <a
                  aria-label="{{ .Title }}"
                  href="/{{ $category }}/{{ slugify .Title }}"
                  >{{ .Title }}</a
                >
              </h1>
            </header>
            <div class="subtitle">
              {{ $timestamp := .CreatedAt.Format "2006-01-02"}}
              <time datetime="{{ $timestamp }}">{{ $timestamp }}</time>
            </div>
          </article>
        </li>
        {{ end }}
      </ul>
    </div>
  </article>
</section>
{{ end }}
