{{ define "view" }}
<article>
	<header>
		<h1>{{ .Title }}</h1>

		<h2><time>{{ .Entry.CreatedAt.Format "January 2, 2006"}}</time></h2>

		{{ if .Entry.FeaturedImageURL }}
		<figure class="full-bleed">
			<img src="{{ .Entry.FeaturedImageURL }}" />
		</figure>
		{{ end }}
	</header>

	<main class="markdown">
		{{ .Entry.Markdown }}
	</main>

	<footer class="entry-footer">
		<div>
			{{ range .Entry.Tags }}
			<a href="{{ .Permalink }}">{{ .Name }}</a>
			{{ end }}
		</div>

		<div class="read-more">
			<h3>Read More</h3>
			{{ if .Prev }}
			{{ template "entry-preview" .Prev }}
			{{ end }}

			{{ if .Next }}
			{{ template "entry-preview" .Next }}
			{{ end }}
		</div>
	</footer>
</article>
{{ end }}
