{{ define "view" }}
<article>
	<header>
		<h1>{{ .Title }}<h1>
	</header>

	<main>
		{{- template "email-list-form" . }}

		{{- template "about" . }}

		{{- template "contact" . }}
	</main>
	<footer>
		<section>
			{{- if .Site.RecentEntries }}
			<h3>Recent Posts</h3>
			<div>
				<ul>
					{{- range .Site.RecentEntries }}
					<li>
						{{- template "entry-preview" . }}
					</li>
					{{- end }}
				</ul>
				{{- end }}
			</div>

			<div>
				<p>
					<a href="/archive/">View full archive →</a>
				</p>
			</div>
		</section>
	</footer>
</article>
{{ end }}
