{{ define "view" }}
<main>
	<!-- wrapper -->
	<div>
		<!-- article -->
		<article>
			{{ template "email-list-form" . }}

			{{ template "about" . }}

			{{ template "contact" . }}

			<section>
				{{- if .Site.RecentEntries }}
				<article>
					<div>
						<h3>Recent Posts</h3>
						<ul>
							{{- range .Site.RecentEntries }}
							<li>
								{{ template "entry-preview" . }}
							</li>
							{{- end }}
						</ul>
					</div>
				</article>
				{{- end }}

				<div>
					<p>
						<a href="/archive/">View full archive →</a>
					</p>
				</div>
			</section>
		</article>
	</div>
</main>
{{ end }}
