@import url("/styles/reset.css");
@import url("/styles/variables.css");
@import url("/styles/global.css");

.body {
  margin: 0 auto;
  padding: 1.5rem;
  max-width: 42rem;
}

.main {
  padding-top: 3.5rem;
}

.markdown {
  padding-top: 1.5rem;

  &>*+* {
    margin-top: 1.5rem;
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5 {
    font-size: var(--fs-500);
  }
}

.title {
  font-size: var(--fs-600);
}

.title a {
  color: inherit;
}

.subtitle {
  color: var(--clr-neutral-600);
  padding-bottom: 0.25rem;
}

.section {
  padding-bottom: 2.25rem;
}

.section>*+* {
  margin-top: 1.5rem;
}