@import url("/styles/reset.css");
@import url("/styles/variables.css");
@import url("/styles/global.css");

.wrapper {
  margin: 0 auto;
  padding: 1.5rem;
  max-width: 42rem;
}

.markdown {
  &>*+* {
    margin-top: 1.5rem;
  }
}

.content {
  &>*+* {
    margin-top: 3.5rem;
  }
}

.heading {
  font-weight: var(--fw-bold);
}

.subtitle {
  font-weight: var(--fw-normal);
  color: var(--clr-neutral-600);
}

#site-title {
  font-size: var(--fs-800);
  font-weight: var(--fw-bold);
}

.cta {
  display: inline-flex;
  gap: 1.5rem;
  flex-wrap: wrap;

  & img {
    width: 32px;
  }
}