@import url("/styles/reset.css");
@import url("/styles/variables.css");
@import url("/styles/global.css");

.layout {
	display: grid;
	min-height: 100dvh;
	padding-top: 1rem;
	width: 100%;
	grid-template-columns: 1fr;
	grid-template-rows:
		[header] auto [breadcrumbs] auto [main] 1fr [footer] auto;
	row-gap: 1rem;

	&>header {
		grid-row: header;
	}

	&>#breadcrumbs {
		grid-row: breadcrumbs;
	}

	&>main {
		grid-row: main;
	}

	&>footer {
		grid-row: footer;
	}
}

.wrapper {
	width: 100%;
	max-width: var(--max-width);
	margin: 0 auto;
}

.container {
	padding-left: var(--spacer-amount);
	padding-right: var(--spacer-amount);
}

.full-bleed-wrapper {
	display: grid;
	grid-template-columns: 1fr min(69ch, calc(100% - calc(2 * var(--spacer-amount)))) 1fr;

	>* {
		grid-column: 2;
	}

	>.full-bleed,
	>p:has(img) {
		grid-column: 1 / -1;

		& img {
			display: block;
			margin: auto;
		}
	}

}

.site-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: var(--gap-l);

	a {
		text-decoration: none;
	}
}

.site-header .site-nav ul {
	display: flex;
	align-items: center;
	gap: var(--gap-s);
}


.breadcrumbs [role="navigation"] {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: var(--gap-s);

	a {
		text-decoration: none;
	}
}

.bg {
	background-color: var(--clr-bg);
}

.main {
	min-height: 100%;

	&>*+* {
		margin-top: var(--gap-xl);
	}
}

.article {
	>*+* {
		margin-top: var(--gap-xl);
	}

	.header>*+* {
		margin-top: var(--gap-l);
	}

	.hgroup>*+* {
		margin-top: var(--gap-s);
	}
}


.markdown {
	min-height: 100%;

	&>* {
		margin-top: var(--gap-l);
	}

	&>p:has(img) {
		margin-top: var(--gap-xxl);
		margin-bottom: var(--gap-xxl);
	}
}

.category-year-entries {
	display: flex;
	flex-direction: column;
	gap: var(--gap-xl);
}

.category-year-entries ul {
	display: flex;
	flex-direction: column;
	gap: var(--gap-m);
}

.category-year-entries ul .entry-preview {
	display: grid;
	padding: var(--gap-s);
	grid-template-columns: minmax(100px, 200px) 1fr;
	gap: var(--gap-m);

	& a:hover {
		outline: 1px dotted var(--clr-secondary);
	}
}

.footer {
	padding-bottom: var(--spacer-amount);
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	gap: var(--gap-l);
}

.footer .socials-wrapper ul {
	display: flex;
	gap: var(--gap-m);
}

.centered {
	text-align: center;
}
