/* styles/global.css */

body {
	font-family: var(--monospaced);
	font-style: normal;
	font-size: var(--fs-400);
	line-height: var(--line-height);

	color: var(--text-0);
	background-color: var(--surface-0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: var(--fw-normal);
}

h1 {
	text-wrap: balance;
	font-size: var(--fs-700);
	font-weight: var(--fw-semi-bold);
}

h2 {
	font-size: var(--fs-600);
}

h3 {
	font-size: var(--fs-500);
}


b {
	font-weight: var(--fw-semi-bold);
}

pre {
	display: block;

	/* https://github.com/joshdick/onedark.vim */
	border: 1px solid #ccc;
	background-color: #282c34;
	color: #ABB2BF;

	padding: 1rem;
	margin: 0;
	width: 100%;
	white-space: pre-wrap;
	overflow-x: scroll;
}

code {
	font-family: var(--monospaced);
}

hr {
	width: 100%;
}

[role="list"],
[role="navigation"] {
	list-style: none;
	margin: 0;
	padding: 0;
}
