@import "/css/reset.css" layer(reset);
@import "/css/global.css" layer(global);
@import "/css/fonts.css" layer(fonts);

.grid-wrapper {
	max-inline-size: 1152px;
	margin-inline: auto;
	padding-inline: 3dvw;
	min-block-size: 100dvh;

	display: grid;
	grid-template-rows: [header] min-content [main] minmax(0, 1fr) [footer] min-content;

	&>header {
		grid-row: header;
		margin-block-start: 2rem;
	}

	&>main {
		grid-row: main;
		margin-block-start: 4rem;
		margin-block-end: 6rem;
	}

	&>footer {
		grid-row: footer;
		margin-block-end: 2rem;
	}
}

.header {
	margin-block-start: 1rem;

	&>nav {
		display: flex;
		justify-content: space-between;

		&>ul {
			display: flex;
			gap: 0.5rem;

			& a {
				display: inline-block;
				padding: 0.5rem 0.5rem;
			}

			& a:hover {
				outline: 1px solid black;
				background-color: #ccc;
			}
		}
	}
}

.view-wrapper>article {
	display: grid;
	grid-template-columns: 1fr min(42rem, 100%) 1fr;
	padding-inline: 1rem;

	&>header,
	&>main,
	&>footer {
		/* subgrid */
		grid-column: 1 / -1;
		display: grid;
		grid-template-columns: subgrid;

		&>* {
			grid-column: 2;
		}

		&>.full-bleed,
		&>pre:has(code),
		&>pre:has(img) {
			grid-column: 1 / -1;
		}
	}

}

.view-wrapper>article {
	&>header {

		&>h1 {
			line-height: 1.1;
			margin-block-start: 0.8rem;
			font-size: 3rem;
		}

		&>h2 {
			line-height: 1;
			margin-block-start: 1.1rem;
			font-size: 1.5rem;
		}

		&>figure {
			margin-block-start: 1.3rem;
		}

	}

	&>main {
		line-height: 1.5;
		margin-block-start: 3rem;

		&>*+* {
			margin-block-start: 1rem;
		}
	}

	&>footer {
		margin-block-start: 3rem;
	}
}

.markdown {
	& h2 {
		font-size: 1.5rem;
		font-weight: bold;
		margin-block-start: 1.5rem;
	}

	& h3 {
		font-size: 1.2rem;
		font-weight: semi-bold;
		margin-block-start: 1.2rem;
	}

	& ul,
	& ol {
		padding-inline-start: 1rem;
		margin-inline-start: 1rem;
	}

	& ul {
		list-style-type: disc;
	}

	& ol {
		list-style-type: lower-alpha;
	}
}
