/* File: /css/styles.css */
/* Author: Connor Kuljis */
/* Date Created: 2025 */

@import url("/css/reset.css");
@import url("/css/base.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
	font-family: "Opus One";
	src: url("/fonts/OpusOneVF.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Papyrus";
	src: url("/fonts/papyrus.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

:root {
	--serif: "Inter", system-ui, serif;
	--monospaced: "Opus One", monospace;

	--font-unit: 1rem;
	--gap-unit: 1rem;
	--line-height: 1.2;
	--max-width: 60rem;

	/* font size */
	--fs-200: calc(var(--font-unit) * 0.75);
	--fs-300: calc(var(--font-unit) * 0.825);
	--fs-400: var(--font-unit);
	--fs-500: calc(var(--font-unit) * 1.25);
	--fs-600: calc(var(--font-unit) * 1.5);
	--fs-700: calc(var(--font-unit) * 2);
	--fs-800: calc(var(--font-unit) * 2.5);
	--fs-900: calc(var(--font-unit) * 3);

	/* font weight */
	--fw-light: 200;
	--fw-normal: 400;
	--fw-semi-bold: 600;
	--fw-bold: 700;

	/* spacing - based on the golden ratio */
	--gap-small: calc(var(--gap-unit) * 0.618);
	--gap-medium: var(--gap-unit);
	--gap-large: calc(var(--gap-unit) * 1.618);
	--gap-xlarge: calc(var(--gap-unit) * 2.618);
	--gap-xxlarge: calc(var(--gap-unit) * 4.236);

	--clr-primary: hsl(0, 0%, 100%);
	--clr-secondary: hsla(0, 0%, 0%, 98%);
	/* --clr-accent: oklch(0.6 0.37 10); */


	/* color layers */
	--surface-0: var(--clr-primary);
	--text-0: var(--clr-secondary);
}

body {
	min-block-size: 100dvh;
	max-inline-size: var(--max-width);

	display: grid;
	grid-template-rows: auto 1fr auto;
}

.page-wrapper {
	max-inline-size: var(--max-width);
	margin-inline: auto;
}

.header {
	margin-block-end: var(--gap-xlarge);
}

.header-wrapper {
	padding-inline: 1.75cqi;
}

.header-splash-art {
	height: 33dvh;
	background-image: url("/images/studio-military.jpg");
	background-size: 110%;
	background-repeat: no-repeat;
	background-position: center;
}

.wrapper {
	/* gutters */
	padding-inline: 3cqi;
}


.header .nav {
	display: grid;
	padding-block: 1rem;
	grid-template-columns: auto auto;
	justify-content: space-between;
	gap: var(--gap-small);

	& a {
		text-decoration: none;
		color: var(--clr-secondary);
	}

	& .categories-list {
		list-style: none;
		margin: 0;
		padding: 0;

		display: flex;
		align-items: center;
		gap: var(--gap-small);
		flex-wrap: wrap;
	}
}

.content-grid {
	display: grid;
	grid-template-columns: 1fr minmax(60ch, 42rem) 1fr;

	&>* {
		padding-inline: 1rem;
	}

	& .article {
		grid-column: 2;
	}
}

.footer {
	padding-block: 1rem;
	margin-block-start: var(--gap-xlarge);
}

.article>*+* {
	margin-top: var(--gap-medium);
}

.article>header {
	margin-block-end: var(--gap-large);
}

.article>footer {
	margin-block-start: var(--gap-xlarge);
}

.markdown {
	&>*+* {
		margin-block-start: var(--gap-medium);
	}

	&>h2,
	&>h3,
	&>h4,
	&>h5,
	&>h6 {
		margin-block-start: var(--gap-large);
	}

	&>pre {
		margin-block: var(--gap-large);
	}
}


.article footer nav .grid {
	display: grid;
	margin-block: var(--gap-medium);
	grid-template-columns: 1fr 1fr;

	& .prev {
		grid-column: 1;
	}

	& .next {
		grid-column: 2;
	}

	& .grid-item {
		padding: 1rem;
		display: flex;
		flex-direction: column;
	}
}


.datetime {
	font-family: var(--monospaced);
}

.category-entries-list {
	padding: 0;
	margin: 0;
	list-style-position: inside;
	list-style-type: "✪";
}

.hero-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
