/* styles/global.css */

body {
	margin: 0;
	font-family: var(--ff-base);
	font-optical-sizing: auto;
	font-style: normal;
	color: var(--clr-body);
	background-color: var(--clr-bg);
	line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: var(--fs-400);
	font-weight: var(--fw-normal);
	color: var(--clr-heading);
}

p,
li {
	text-wrap: pretty;
	/* max-width: 80ch; */
}

a {
	text-decoration: none;
	color: var(--clr-accent);
}

a:hover {
	text-decoration: underline;
	color: var(--clr-blue-200);
}

b {
	font-weight: var(--fw-semi-bold);
}

pre {
	background-color: var(--clr-neutral-100);
	border: 1px solid var(--clr-neutral-600);
	padding: 0.5rem;
	border-radius: 0.5rem;
	overflow-x: auto;
}

code {
	font-family: var(--ff-mono);
	color: var(--clr-neutral-600);
}

hr {
	width: 100%;
}
