/* /static/entry.css */

.content {
	margin-top: var(--gap-xl);
	line-height: 1.4;
	max-width: 60ch;
	margin: 0 auto;
}

.content>*:not(:first-child) {
	margin-top: var(--gap-s);
}

hgroup h2 {
	font-family: var(--ff-mono);
}

hgroup h3 {
	text-transform: uppercase;
}
