/* /static/entry.css */

.entry-content {
	margin-top: var(--gap-xl);
	line-height: 1.4;
	max-width: 60ch;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: var(--fs-500);
		font-weight: var(--fw-semi-bold);
	}
}

.entry-content>*:not(:first-child) {
	margin-top: var(--gap-m);
}

hgroup h2 {
	font-family: var(--ff-mono);
}

hgroup h3 {
	text-transform: uppercase;
}
