@import url("/styles/reset.css");
@import url("/styles/variables.css");
@import url("/styles/global.css");

body {
	max-width: 768px;
	margin: 0 auto;
}

body > header {
	padding: 1rem;
}

body > main {
	padding: 1rem;
	margin-top: 0.5rem;
}

body > main > *+* {
	margin-top: 1.5rem;
}

.title a {
  color: inherit;
}

.subtitle {
  color: var(--clr-neutral-600);
  padding-bottom: 0.25rem;
}
