@import url("/styles/reset.css");
@import url("/styles/variables.css");
@import url("/styles/global.css");

.wrapper {
  margin: 0 auto;
  padding: 1.5rem;
  max-width: 42rem;
}

.main {
  padding-top: 1.5rem;
}

.content {
  &>*+* {
    margin-top: 1.5rem;
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5 {
    font-weight: var(--fw-semi-bold);
  }
}

.title {
  font-size: var(--fs-600);

  & a {
    color: inherit;
  }
}

.subtitle {
  color: var(--clr-neutral-600);
}

#site-header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

#site-nav>ul {
  display: inline-flex;
  gap: 1rem;
}