@import url("/styles/reset.css");
@import url("/styles/variables.css");
@import url("/styles/global.css");

nav > ul {
	display: flex;
	flex-wrap: no-wrap;
	gap: 0.5rem;
}

.content > * + * {
	margin-top: 1.5rem;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr min(60ch, calc(100% - 64px)) 1fr;
	grid-column-gap: 32px;

	& > * {
		grid-column: 2;
	}

	& > .full-bleed, & > img {
		width: 100%;
		grid-column: 1 / 4;
	}
}

.header {
	margin-top: 2rem;
}

.main {
	margin-top: 3rem;
	margin-bottom: 5rem;
}

.heading {
	margin-top: 0.5rem;
	font-size: var(--fs-600);
	color: var(--clr-neutral-700);
}

.subheading {
	margin-top: 0.25rem;
	color: var(--clr-neutral-600);
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.title {
	color: var(--clr-neutral-600);
}

.title a {
  color: inherit;
}

