<!-- about.html -->
<!doctype html>

<html lang="en">

{{ template "head" . }}

<body id="_about" class="page-wrapper">
	<!-- header -->
	{{ template "header" . }}

	<!-- main -->
	<main class="main">
		<!-- wrapper -->
		<div class="wrapper">
			<!-- content-grid -->
			<div class="content-grid">
				<!-- article -->
				<article class="article">
					{{- template "lorem-ipsum" . }}

					<section>
					</section>
				</article>
			</div>
		</div>
	</main>

	{{ template "footer" . }}
</body>

</html>
