<!DOCTYPE html>
<html lang="en">
<!-- head -->
{{ template "head.html" . }}

<body id="_about" class="page-wrapper">
	<!-- header -->
	{{ template "header.html" . }}

	<!-- main -->
	<main class="main">
		<!-- wrapper -->
		<div class="wrapper">
			<!-- article -->
			<article class="article">

				{{ template "about" . }}

				{{ template "education" . }}

				{{ template "contact" . }}

				{{ template "lorem-ipsum" . }}

				<p>Kanye West is the greatest artist of all time.</p>
			</article>
		</div>
	</main>

	{{ template "footer.html" . }}
</body>

</html>
