<!-- category.html -->
<!doctype html>
<html lang="en">
<!-- head -->
{{ template "head" . }}

<body class="grid-layout">
	<!-- header -->
	{{ template "header" . }}

	<!-- nav-breadcrumbs -->
	<nav class="nav-breadcrumbs">
		<div class="wrapper">
			<ul class="nav-breadcrumbs-list" role="list">
				<li><a href="/">Home</a></li>
				<span>&#8594;</span>
				<li><a href="/{{ .Category.Slug }}">{{ .Category.Title }}</a></li>
			</ul>
		</div>
	</nav>

	<!-- main -->
	<main class="main">
		<!-- wrapper -->
		<div class="wrapper">
			<!-- hgroup -->
			<hgroup>
				<h1>{{ .Category.Title }}</h1>
				<h2>{{ .Category.Description }}</h2>
			</hgroup>

			<!-- entries list -->
			<div>
				<ul class="categories-entries-list" role="list">
					{{ range .Category.Entries }}
					<li>
						<a href="/{{ .Slug }}">
							<h2>{{ .Title }}</h2>
							<p>{{ .CreatedAt.Format "2006 Jan 2" }}</p>
						</a>
					</li>
					{{ end }}
				</ul>
			</div>
		</div>
		<link rel="stylesheet" href="/category.html" />
	</main>
</body>

</html>
