<!-- category.html -->
<!doctype html>
<html lang="en">
<!-- head -->
{{ template "head" . }}

<body class="layout">
	<!-- header -->
	{{ template "header" . }}

	<nav class="nav">
		<ul class="breadcrumbs" role="list">
			<li><a href="/">Home</a></li>
			<span>&#8594;</span>
			<li><a href="/{{ .Category.Slug }}">{{ .Category.Title }}</a></li>
		</ul>
	</nav>

	<!-- main -->
	<main class="main">
		<div class="wrapper">
			<h1 class="heading">{{ .Category.Title }}</h1>
			<h2 class="subheading">{{ .Category.Description }}</h2>

			<section id="category-entries">
				<ul class="categories-entries-list" role="list">
					{{ range .Category.Entries }}
					<li>
						<a href="/{{ .Slug }}">
							<h2>{{ .Title }}</h2>
							<p>{{ .CreatedAt.Format "2006 Jan 2" }}</p>
						</a>
					</li>
					{{ end }}
				</ul>
			</section>
		</div>
	</main>
</body>

</html>
