<!-- entry.html -->
<!doctype html>
<html lang="en">
{{ template "head" . }}

<body class="grid-layout">
	{{ template "header" . }}

	<!-- nav-breadcrumbs -->
	<nav class="nav-breadcrumbs">
		<div class="wrapper">
			<ul class="nav-breadcrumbs-list" role="list">
				<li><a href="/">Home</a></li>
				<span>&#8594;</span>
				<li><a href="/{{ .Entry.Category.Slug }}">{{ .Entry.Category.Title }}</a></li>
				<span>&#8594;</span>
				<li><a href="/{{ .Entry.Slug }}">{{ .Entry.Title }}</a></li>
			</ul>
		</div>
	</nav>

	<main class="main">
		<article class="wrapper">
			<header>
				<hgroup>
					<h1>{{ .Entry.Title }}</h1>
					<h2>{{ .Entry.CreatedAt.Format "Jan 02, 2006"}}</h2>
					<p>{{ .Entry.WordCount }} words</p>
				</hgroup>

				{{ if .Entry.FeaturedImageURL.Valid }}
				<img src="/{{ .Entry.FeaturedImageURL.String }}" />
				{{ end }}
			</header>

			<div class="entry-content">
				{{ .Entry.Markdown }}
			</div>
	</main>

	<!-- entry css -->
	<link rel="stylesheet" href="/entry.css" />
</body>

</html>
