<!-- entry.html -->
<!doctype html>
<html lang="en">
{{ template "head" . }}

<body class="grid-layout">
	{{ template "header" . }}

	<!-- nav-breadcrumbs -->
	<nav class="nav-breadcrumbs">
		<ul class="container wrapper nav-breadcrumbs-list">
			<li><a href="/">Home</a></li>
			<span>&#8594;</span>
			<li><a href="/{{ .Entry.Category.Slug }}">{{ .Entry.Category.Title }}</a></li>
			<span>&#8594;</span>
			<li><a href="/{{ .Entry.Slug }}">{{ .Entry.Title }}</a></li>
		</ul>
	</nav>

	<main class="main">
		<div class="wrapper bg">
			<article>
				<header class="full-bleed-wrapper">
					<hgroup>
						<h1>{{ .Entry.Title }}</h1>
						<h2>{{ .Entry.CreatedAt.Format "Jan 02, 2006"}}</h2>
						<p>{{ .Entry.WordCount }} words</p>
					</hgroup>

					{{ if .Entry.FeaturedImageURL.Valid }}
					<div class="full-bleed">
						<img src="{{ .Entry.FeaturedImageURL.String }}" />
					</div>
					{{ end }}
				</header>

				<div class="content full-bleed-wrapper">
					{{ .Entry.Markdown }}
				</div>
			</article>
	</main>

	{{ template "footer" . }}
	<!-- entry css -->
	<link rel="stylesheet" href="/entry.css" />
</body>

</html>
