<!-- index.html -->
<!doctype html>

<html lang="en">

{{ template "head" . }}

<body class="layout">
	<!-- header -->
	{{ template "header" . }}

	<!-- nav-breadcrumbs -->
	<nav class="nav-breadcrumbs">
		<ul class="container wrapper nav-breadcrumbs-list">
			<li><a href="/">Home</a></li>
		</ul>
	</nav>

	<!-- main -->
	<main id="index">
		<!-- wrapper -->
		<div class="content wrapper container">
			<div>
				{{ template "bio" . }}
			</div>
		</div>
	</main>

	<!-- footer -->
	{{ template "footer" . }}
</body>

</html>
