<!-- index.html -->
<!doctype html>

<html lang="en">

{{ template "head" . }}

<body id="_index" class="page-wrapper">
	<!-- header -->
	{{ template "header" . }}

	<!-- main -->
	<main class="main">
		<!-- ascii-art -->
		<div class="ascii-art-wrapper">
			<div class="ascii-art">
				{{- range $i, $row := .Banner }}
				<div class="row">
					{{- range $x, $ch := $row }}
					<div class="char">{{ runeToString $ch }}</div>
					{{- end }}
				</div>
				{{- end }}
			</div>
			<script src="/js/marquee-animation.js"></script>
		</div>

		<!-- wrapper -->
		<div class="wrapper">
			<!-- article -->
			<article class="article">

				{{ template "about" . }}

				{{ template "contact" . }}

				<section>
					{{- if .LatestEntry }}
					<article>
						<div>
							Read my latest article:
							<a href="{{ .LatestEntry.Permalink }}">
								{{ .LatestEntry.Title }}
							</a>
						</div>
					</article>
					{{- end }}
				</section>
			</article>
		</div>
	</main>

	{{ template "footer" . }}
</body>

</html>
