<!DOCTYPE html>
<html lang="en">
<!-- head -->
{{ template "head.html" . }}

<body id="_tag" class="page-wrapper">
	<!-- header -->
	{{ template "header.html" . }}

	<!-- main -->
	<main class="main">
		<!-- wrapper -->
		<div class="wrapper">
			<!-- article -->
			<article class="article">
				<!-- article-header -->
				<header class="article-header">
					<h2 class="title">{{ .Tag.Name }}</h2>
					<h3 class="subheading">Entries tagged with "{{ .Tag.Name }}"</h3>
					<p class="subtitle">({{ len .Tag.Entries }}) entries</p>
				</header>

				<!-- article-main -->
				<main class="article-main">
					<div>
						<ul>
							{{ range .Tag.Entries }}
							<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
							{{ end }}
						</ul>
					</div>
				</main>
			</article>
		</div>
	</main>

	<!-- footer -->
	{{ template "footer.html" . }}
</body>

</html>
