<!-- category.html -->
<!doctype html>
<html lang="en">
  <!-- head -->
  {{ template "head" . }}

  <body>
    <!-- header -->
    {{ template "header" . }}

    <!-- main -->
    <main class="container">
      <hgroup>
        <h1>{{ .Category.Title }}</h1>
        <p>{{ .Category.Description }}</p>
      </hgroup>

      <div>
        <!-- nowrap -->
        {{ range .Entries }}
        <details>
          <summary>
            <h3>
              <a href="/{{ slugify .Title }}">{{ .Title }}</a>
            </h3>
          </summary>
          <p>{{ truncate .Content }}</p>
        </details>
        {{ end }}
      </div>
    </main>
  </body>
</html>
