<!-- category.html -->
<!doctype html>
<html lang="en">
  <!-- head -->
  {{ template "head" . }}

  <body>
    <!-- header -->
    {{ template "site-header" . }}

    <!-- main -->
    <main>
      <h1 class="title">{{ .Category.Title }}</h1>
      <div class="subtitle">{{ .Category.Description }}</div>

      <div>
        <ul role="list">
          {{ $categorySlug := slugify .Category.Title }}
          <!-- nowrap -->
          {{ range .Entries }}
          <li>
            <a href="/{{ $categorySlug }}/{{ slugify .Title }}">{{ .Title }}</a>
          </li>
          {{ end }}
        </ul>
      </div>
    </main>
  </body>
</html>
