<!-- head -->
{{ define "head" }}
<head>
  <title>{{ .Site.Title }}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/index.css" />
</head>
{{ end }}

<!-- header -->
{{ define "site-header" }}
<header class="header" id="site-header">
  <h1 id="site-title"><a href="/">{{ .Site.Title }}</a></h1>
  {{ template "site-nav" . }}
</header>
{{ end }}

<!-- nav -->
{{ define "site-nav" }}
<nav id="site-nav">
  <ul role="list">
    <li><a href="/">home</a></li>
    <li><a href="/blog">blog</a></li>
    <li><a href="/journal">journal</a></li>
  </ul>
</nav>
{{ end }}
