<!-- templates/components.html -->
{{ define "about" }}
<article class="about" id="kuljis-about">
	<h2>About Me</h2>
	<p>
		Hi, I'm Connor Kuljis. I'm a software engineer with a passion for building things that matter. I love working on
		challenging problems and creating solutions that make a difference.
	</p>
</article>
{{ end }}

{{ define "education" }}
<article class="education" id="kuljis-education">
	<h2>Education</h2>
	<p>Here is some incredibly embarrasing information about me.</p>
	<p>Please hire me.</p>
</article>
{{ end }}

{{ define "contact" }}
<article class="contact" id="kuljis-contact">
	<h2>Contact</h2>
	{{- template "socials" . }}
</article>
{{ end }}

{{ define "socials" }}
<ul class="socials" id="kuljis-socials" role="list">
	<li>
		<a class="github" href="https://github.com/connorkuljis">Github</a>
	</li>
	<li>
		<a class="linkedin" href="https://linkedin.com/in/connor-kuljis">Linkedin</a>
	</li>
</ul>
{{ end }}

{{ define "lorem-ipsum" }}
<h>Lorem Ipsum</h>
<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna
	aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
	sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
<p>
	Curabitur pretium tincidunt lacus. Nulla gravida orci a odio, et feugiat tellus malesuada sed. Donec laoreet, nisl
	eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien.
</p>
{{ end }}
