<header class="header" id="kuljis-header" role="banner">
	<!-- wrapper -->
	<div class="header-wrapper">
		<!-- nav -->
		<nav class="nav" id="kuljis-nav" role="navigation" aria-label="Main navigation">
			<ul id="kuljis-home" role="list">
				<li><a href="/">Home</a></li>
			</ul>

			<!-- menu -->
			<ul class="menu" id="kuljis-category-menu" role="list">
				{{ template "header-category-items" . }}
			</ul>

			<button class="theme-toggle" aria-label="Switch theme">☀️</button>
		</nav>
	</div>
</header>

{{ define "header-category-items" }}
{{- range .Site.Categories }}
<li>
	<a href="{{ .Permalink }}">{{ .Title }}</a>
</li>
{{- end }}
{{ end }}
