<header id="kuljis-header" role="banner">
	<!-- wrapper -->
	<div id="kuljis-header-wrapper">
		<!-- nav -->
		<nav id="kuljis-nav" role="navigation" aria-label="Main navigation">
			<ul role="list">
				<li><a href="/">Home</a></li>
			</ul>

			<!-- menu -->
			<ul role="list">
				{{ template "header-category-items" . }}
			</ul>

			<button aria-label="Switch theme">☀️</button>
		</nav>
	</div>
</header>

{{ define "header-category-items" }}
{{- range .Site.Categories }}
<li>
	<a href="{{ .Permalink }}">{{ .Title }}</a>
</li>
{{- end }}
{{ end }}
