{{ define "head" }}

<head>
	<meta charset="utf-8" />
	<title>{{ .Site.Config.Title }} | {{ .Title }}</title>

	<link rel="icon" href="/images/icon.png" />
	<link rel="stylesheet" href="/css/styles.css" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
	<!-- <script src="/js/hamburger-menu.js" defer></script> -->
	<script src="/js/theme-switcher.js" defer></script>
	<script>
		/*this is an immediately invoked function to prevent Firefox FOUC, this must be here*/
		(_ => {
			let FF_FOUC_FIX;
		})();
	</script>
</head>
{{ end }}
