{{ define "header" }}
<header id="kuljis-header" role="banner">
	<!-- wrapper -->
	<div id="kuljis-header-wrapper">
		<!-- nav -->
		<nav id="kuljis-nav" role="navigation" aria-label="Main navigation">
			<div>
				<h3>Nav</h3>
				<ul id="kuljis-nav-list" role="list">
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/tags">Tags</a></li>
				</ul>
			</div>

			<div>
				<h3>Categories</h3>
				<ul id="kuljis-categories-list" role="list">
					{{ template "header-category-items" . }}
				</ul>
			</div>
		</nav>
	</div>
</header>
{{ end }}

{{ define "header-category-items" }}
{{- range .Site.Categories }}
<li>
	<a href="{{ .Permalink }}">{{ .Title }}</a>
</li>
{{- end }}
{{ end }}
