<!-- index.html -->
<!doctype html>
<html lang="en">
  <!-- head -->
  {{ template "head" . }}

  <body>
    <!-- header -->
    {{ template "header" . }}
    <!-- ./header -->

    <!-- main -->
    <main class="container">
      <!-- entries -->
      <section id="entries">
        <h1>Entries</h1>
        {{ range .Entries}}
        <details>
          <summary>
            <!-- time formatting -->
            {{ $datetime := .CreatedAt.Format "2006-01-02"}}
            <!-- nowrap -->
            {{ $timestamp := .CreatedAt.Format "Jan 02, 2006"}}
            <!-- ./time formatting -->
            <time datetime="{{ $datetime }}">{{ $timestamp }}</time>
            <h3>
              <a href="/{{ slugify .CategoryTitle }}/{{ slugify .Title }}"
                >{{ .Title }}</a
              >
            </h3>
          </summary>
          <p><em>{{ truncate .Content }}</em></p>
        </details>
        {{ end }}
      </section>
      <!-- ./entries -->
    </main>
    <!-- ./main -->
  </body>
</html>
