<!-- index.html -->
<!doctype html>
<html lang="en">
  <!-- head -->
  {{ template "head" . }}

  <body class="body">
    <!-- header -->
    {{ template "site-header" . }}

    <!-- main -->
    <main class="main">
      <!-- entries -->
      <section class="section" id="entries" aria-label="Entries" role="region">
        <h1 class="title">Entries</h1>
        <div>{{ template "entries" . }}</div>
      </section>
    </main>
  </body>
</html>

<!-- categories -->
{{ define "categories" }}
<ul role="list">
  {{ range .Categories }}
  <li>
    <h3>
      <a href="/{{ slugify .Title }}">{{ .Title }}</a>
      <p>{{ .Description }}</p>
    </h3>
  </li>
  {{ end }}
</ul>
{{ end }}

<!-- entries -->
{{ define "entries" }}
<ul class="entries" role="list">
  {{ range .Entries}}
  <!-- nowrap -->
  {{ $datetime := .CreatedAt.Format "2006-01-02"}}
  <!-- nowrap -->
  {{ $timestamp := .CreatedAt.Format "Jan 02, 2006"}}
  <li>
    <article class="card">
      <header>
        <time datetime="{{ $datetime }}">{{ $timestamp }}</time>
        <div>{{ .CategoryTitle }}</div>
        <h3>
          <a href="/{{ slugify .CategoryTitle }}/{{ slugify .Title }}"
            >{{ .Title }}</a
          >
        </h3>
      </header>
      <p><em>{{ truncate .Content }}</em></p>
    </article>
  </li>
  {{ end }}
</ul>
<style>
  .card {
    margin-top: 1.5rem;
  }
  .card h3 {
    font-size: var(--fs-600);
  }
</style>
{{ end }}
