<!-- head -->
{{ define "head" }}
<head>
  <title>{{ .Site.Title }}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/index.css" />
</head>
{{ end }}

<!-- header -->
{{ define "header" }}
<header class="container">
  <nav class="nav">
    <ul role="list">
      <li>
        <h1 class="title"><a href="/">{{ .Site.Title }}</a></h1>
      </li>
    </ul>
    <ul role="list">
      <li><a href="/">home</a></li>
      {{ range .Site.Categories }}
      <li><a href="/{{ slugify .Title }}">{{ slugify .Title }}</a></li>
      {{ end }}
    </ul>
  </nav>
</header>
{{ end }}
