<!-- view-entry.html -->
<!doctype html>
<html lang="en">
  {{ template "head" . }}
  <body class="wrapper">
    <section>
      <a href="/{{ slugify .Entry.CategoryTitle}}"
        >back to {{ .Entry.CategoryTitle }}</a
      >
    </section>

    {{ $timestamp := .Entry.CreatedAt.Format "2006-01-02"}}
    <article id="entry">
      <header id="entry-header">
        <h1 id="entry-title">{{ .Entry.Title }}</h1>
        <h2 id="entry-subtitle">
          <time id="entry-created-at" datetime="{{ $timestamp }}"
            >{{ .Entry.CreatedAt.Format "Jan 02, 2006" }}</time
          >
        </h2>
      </header>

      <div id="entry-content">{{ .Content }}</div>
    </article>

    <style>
      #entry-header {
        margin-top: 1.5rem;
        margin-bottom: 1.75rem;
      }

      #entry-title {
        font-size: var(--fs-600);
      }

      #entry-subtitle {
        color: var(--clr-neutral-600);
      }

      #entry-content > * + * {
        margin-top: 1.5rem;
      }
    </style>
  </body>
</html>
