/* styles/global.css */

body {
  margin: 0;
  font-family: var(--ff-base);
  color: var(--clr-body);
  background-color: var(--clr-bg);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--fs-400);
  font-weight: var(--fw-normal);

  text-wrap: balance;
  color: var(--clr-heading);
}

p,
li {
  text-wrap: pretty;
  max-width: 120ch;
}

a {
  text-decoration: none;

  color: var(--clr-accent);
}

a:hover {
  text-decoration: underline;

  color: var(--clr-blue-200);
}

b {
  font-weight: var(--fw-semi-bold);
}
