/* styles/global.css */

body {
	max-width: 1100px;
	margin: 0 auto;
	font-family: var(--ff-base);
	font-style: normal;
	color: var(--clr-body);
	background-color: var(--clr-bg);
	line-height: var(--line-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--ff-heading);
	font-size: var(--fs-400);
	font-weight: var(--fw-normal);
	color: var(--clr-heading);
}

p,
li {
	text-wrap: pretty;
	max-width: 70ch;
}

a {
	text-decoration: none;
	color: var(--clr-accent);
}

a:hover {
	text-decoration: underline;
}

b {
	font-weight: var(--fw-semi-bold);
}

pre {
	overflow-x: auto;

	padding: 0.825rem;
	border-radius: 0.125rem;

	background-color: var(--clr-neutral-100);

	border: 1px solid var(--clr-neutral-600);
}

code {
	font-family: var(--ff-mono);
}

hr {
	width: 100%;
}
