/* styles/reset.css */

*,
*::before,
*::after {
	margin: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
}

img {
	height: auto;
	/* Maintains aspect ratio */
	max-width: 100%;
	/* Ensures the image doesn't exceed its container's width */
	vertical-align: middle;
	/* Aligns images vertically */
}
