:root {
	/* font family */
	--ff-base: "Atkinson Hyperlegible";
	--ff-heading: "Alegreya";
	--ff-mono: "Fira Code";
	--line-height: 1.4;
	--max-width: 64rem;
	--spacer-amount: var(--gap-l);

	/* font size */
	--fs: 1rem;
	--fs-200: calc(var(--fs) * 0.75);
	--fs-300: calc(var(--fs) * 0.825);
	--fs-400: var(--fs);
	--fs-500: calc(var(--fs) * 1.25);
	--fs-600: calc(var(--fs) * 1.5);
	--fs-700: calc(var(--fs) * 2);
	--fs-800: calc(var(--fs) * 2.5);
	--fs-900: calc(var(--fs) * 3);

	/* font weight */
	--fw-light: 200;
	--fw-normal: 400;
	--fw-semi-bold: 600;
	--fw-bold: 700;

	/* spacing */
	--gap: 1rem;
	--gap-s: calc(var(--gap) * 0.618);
	--gap-m: var(--gap);
	--gap-l: calc(var(--gap) * 1.618);
	--gap-xl: calc(var(--gap-l) * 1.618);
	--gap-xxl: calc(var(--gap-xl) * 1.618);

	/* crimson red */
	/* --clr-primary: oklch(0.0 0.37 10); */
	/* --clr-secondary: oklch(0.3 0.37 10); */
	/* --clr-accent: oklch(0.6 0.37 10); */

	/* --page-hue: 87; */

	--clr-primary:
		oklch(99% 0.01 var(--page-hue, 260));

	--clr-secondary:
		oklch(0% 0.2 var(--page-hue, 260) / 0.97);

	--clr-accent:
		oklch(0% 0.2 var(--page-hue, 260));

	/* color layers */
	--clr-bg: var(--clr-primary);
	--clr-body: var(--clr-secondary);
	/* --clr-accent: var(--clr-accent); */
}
